<div class="main-screen">
    <div class="container">
        <div class="main-screen__inner">
            <div class="main-screen__img" ><img src="assets/images/image.jpg" alt="" ></div>
            <div class="main-screen__info">
                <div class="contacts">
                    <a href="https://github.com/tkhristina" target="_blank" > 
                        <div class="contacts-item item_github"></div>
                    </a>
                    <a href="https://www.linkedin.com/in/khrystyna-tkachuk-88a80b1ab/" target="_blank">
                        <div class="contacts-item item_linkedin"></div>
                    </a>
                    <a href="tel:+380664245203">
                        <div class="contacts-item item_number" ></div>
                    </a>
                    <a href="mailto:kristina.tkachuk@1710gmail.com">
                        <div class="contacts-item item_mail"></div>
                    </a>
                </div>	
                <span  class="name">Khrystyna</span>
                <span class="surname">Tkachuk</span>
            </div>
        </div>        
    </div>
</div>

<div class="about">
    <div class="container">
        <h2 class= "title"> About me</h2>
        <p class= "about-text">Hello! My name is Khrystyna. I am 18 y.o. and I like Web development. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, officia! Aspernatur sed, quos excepturi placeat repellendus illo soluta nam ad atque ut natus maiores eum nemo distinctio qui dolorum possimus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, officia! Aspernatur sed, quos excepturi placeat repellendus illo soluta nam ad atque ut natus maiores eum nemo distinctio qui dolorum possimus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, officia! Aspernatur sed, quos excepturi placeat repellendus illo soluta nam ad atque ut natus maiores eum nemo distinctio qui dolorum possimus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, officia! Aspernatur sed, quos excepturi placeat repellendus illo soluta nam ad atque ut natus maiores eum nemo distinctio qui dolorum possimus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, officia! Aspernatur sed, quos excepturi placeat repellendus illo soluta nam ad atque ut natus maiores eum nemo distinctio qui dolorum possimus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, officia! Aspernatur sed, quos excepturi placeat repellendus illo soluta nam ad atque ut natus maiores eum nemo distinctio qui dolorum possimus.
        </p>
    </div>    
</div>


